/*

Pictogramas para PICTOS

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

/* Desplazamiento suave */


:root {
  --azul-pictos: #091546;  /* Cambia el valor a tu color azul específico */
}

html {
    scroll-behavior: smooth;
}

body{
	margin: 0;
	box-sizing: content-box;
	font-family: 'Open Sans';
}

.container {
	max-width: 555px;
	margin: 0 auto;
}

menu{
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: 0;
	padding: .5em 0;
    
}

menu span{
	display: flex;
	align-items: center;
}

menu img.logo-pictos-sq{
	width: 32px;
	height: 32px;
	margin: 0;
}

menu img.logo-pictos-ext{
	height: 32px;
	width: auto;
	margin: 0;
}

menu h1{
	text-transform: uppercase;
	display: inline;
	letter-spacing: .23ex;
	margin: 0 .5em;
	font-weight: 400;
	color: var(--azul-pictos);
}

/*
menu .menu-icon{
	justify-self: flex-start;
	font-size: 2.5rem;
	margin-top: -.8em;
}

*/

.menu-icon {
    cursor: pointer;
    font-size: 30px;
}

/* Ocultar el input */
#menuToggle {
    display: none;
}

/* Estilizar el icono del menú */
.menu-icon {
    cursor: pointer;
    font-size: 30px;
}

/* Ocultar el menú por defecto y agregar transiciones */
.menu {
    height: 0;
	width: 0;
    position: relative;
	top: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    list-style-type: none;
    transition: all 0.5s ease-in-out;

    /* Agregar flexbox */
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

	direction: rtl;
}

.menu a{
	text-decoration:none;
}

/* Mostrar el menú cuando se hace clic en el icono del menú */
#menuToggle:checked + label .menu {

    height: 274px;
	top: 0.79em;
	overflow: visible;
	background-color: rgba(255, 255, 255, 0.9);
}


menu ul.menu{
	padding: 0;
	transition: height 0.5s ease-in-out;
}

#menuToggle:checked + label menu ul.menu{
	padding: 8px 36px;
}
menu ul.menu li a{
	direction: ltr;
	font-size: 12px;
	white-space: pre;
	word-wrap: break-word;
	background-color: var(--azul-pictos);
	color: white;
	padding: .6ex 1ex .5ex 1ex;
	border-radius: .9ex;
	letter-spacing: .23ex;
	font-weight: 500;
}

menu ul.menu li a.btn-pictos{
	padding: 0;
}

#pictos {
	position: relative;
	background-color: rgb(243, 243, 243) !important;
	border-radius: 8px;
	margin-bottom: 1ex;
	width: 100%;
	padding-top: 76.92%;
}

#pictos img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: 100%;
}

.ilust{
	width: 100%;
	height: auto;
}

input[type="button"].reg{
	background-color: orangered;
	font-size: 1em;
	text-transform: uppercase;
	color: white !important;
	letter-spacing: .45ex;
	font-weight: bolder;
	word-spacing: 2em;
	border: 2ps solid black !important;
}

input[type="button"].sm{
	font-size: initial;
	font-weight: 600;
	border: 2px solid black;
}

img[src=""] {
	visibility: hidden;
}

#pictos img#empty {
	position: relative;
}

#controls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1ex;
}

#control-bottom {
	display: grid;
	grid-template-columns: 2fr 5fr;
}

#icon img {
	margin: 0 2em;
}

#typing {
	margin-top: 4em;
}

textarea#type {
	border: none;
	width: 100%;
	font-family: 'Open Sans';
	padding: .10em;
	font-weight: 400;
	font-size: 2rem;
	background: rgb(231, 231, 231);
	outline: none;
	border-radius: .2ex;
}

#type:focus::placeholder {
	color: transparent;
}

#type::placeholder {
	color: rgb(192, 192, 192);
	transition: color 0.3s ease;
}

#type:valid {
	background: white;
	/*border-bottom: solid rgb(192, 192, 192);
    border-radius: 0; */
}

#actions {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-column-gap: 20px;
	align-items: middle;
}

#actions img {
	max-width: 100%;
}

#typing {
	margin-top: 4em;
}

textarea#type {
	border: none;
	width: 100%;
	font-family: 'Open Sans';
	padding: .10em;
	font-weight: 400;
	font-size: 2rem;
	background: rgb(231, 231, 231);
	outline: none;
	border-radius: .2ex;
}

#type:focus::placeholder {
	color: transparent;
}

#type::placeholder {
	color: rgb(192, 192, 192);
	transition: color 0.3s ease;
}

#type:valid {
	background: white;
	/*border-bottom: solid rgb(192, 192, 192);
    border-radius: 0; */
}

#save {
	margin: 2rem 0 2rem 0;
	display: flex;
	justify-content: center;
}


#save {
	margin: 2rem 0 2rem 0;
	display: flex;
	justify-content: center;
}


label {
	font-weight: 800;
	margin: 0 0 -1ex 0;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
}

.texto {
	line-height: 168%;
}

.logo {
	text-align: center;
}

a {
	display: inline-block;
	text-decoration: none;
	color: orangered;
	padding-bottom: .1ex;
	border-bottom: 1px solid transparent;
	margin-bottom: -1px;
}

/*
a:hover {
	border-bottom: 1px solid orangered;
}
*/

.logo img {
	width: 72px;
	height: auto;
}

footer {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 6fr;
	font-size: 12px;
	text-align: left;
	font-weight: 300;
	line-height: 129%;
	margin: 3em auto 1em auto;
}

section{
	padding: 2em 0;
}
section p, section ul{
	font-size: 1.7em;
	font-weight: 300;
}

section h2{
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 600;
	color: orangered;
}

section h3{
	font-size: 1.8em;
}

input[type="button"],
select {
	padding: 1ex 1em;
	border: none;
	background-color: rgb(231, 231, 231);
	border-radius: .5ex;
}

select {
	width: 100%;
	margin: 1ex 0;
}

option:checked {
	background-color: white;
	color: orangered;
}


@media only screen and (max-width: 50em) {
	body {
		margin: 0 10px;
		display: block;
	}
}

@media print {

	@page {
		size: letter;
		orientation: landscape;
		marks: none;
	}

	menu{
		display: none;
	}

	.container {
		padding-top: 2rem;
		display: block;
		max-width: 20cm;
	}

	#pictos {
		border: 1px solid black;
		border-radius: 0px;
	}

	section,
	#controls,
	#control-icon {
		display: none;
	}

	#icon img {
		position: relative;
		top: 2em;
		left: 2em;
	}

	textarea {
		resize: none;
	}
	#save,
	#que-son,
	#como-funcionan,
	#colabora
	#creditos{
		height: 0vh;
		display: none;
	}

	footer{
		position: absolute;
		margin: 0 0 0 66%;
		bottom: 0;
	}

	footer .logo{
		padding: 0 2ex;
	}

	#icon img {
		margin: 2em;
	}
}