/*

Pictogramas para PICTOS

*/

body{
    width: 90%;
    max-width: 740px;
    margin: 0 auto;
    background-color: white;
    font-family: 'Ubuntu'
}

#preview{
    position: relative;
}
#pictos{
    position: relative;
    height: 570px;
    box-shadow: 2px 2px 20px #00000022 inset;
    border-radius: 4px;
}

#pictos img{
    position: absolute;
    top: 0;
    left: 0;
}


#controls{
    position: relative;
}

#controls select{
    margin: 1ex 1ex 1em 1ex;
    width: 232px;
    z-index: 1000;
}

.header{
    text-align:center;
    background-color: black;
    color: white;
    padding: 1px;
}

.texto{
    padding: 5px;
    line-height: 1.5em;
}